<link rel="stylesheet" href="css/bingo.css">
<link rel="stylesheet" href="css/room.css">


<div id="main">
    <div id="sidebar">
        <div id="players">
            <h1>Players</h1>
            <ul>
                <li ng-repeat="player in players"> {{ player.title }}</li>
            </ul>
        </div>
        <div id="numbers">
            <h1>Numbers</h1>
            <span ng-repeat="number in game.usedNumbers">
                {{ number + ' ' }}
            </span>
        </div>
    </div>
    <div id="content">
        <div id="container">
            <div id="header" class="{{ game.status }}">{{ game.winText }}</div>
            <div id="board">
                <div class='square {{ cell.selected }}' ng-repeat="cell in data"> <div class='text'> <br/> {{ cell.value }} </div></div>
            </div>
            <div id="footer"></div>
        </div>
    </div>

