#main {
    /*overflow:hidden;*/
}
#sidebar {
    width:300px;
    margin-top:80px;
    margin-right:50px;
    float:right;
}
#content{
    margin-right:300px;
    background-color: #00ff00;
}

#sidebar ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#sidebar ul li
{
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 14px;
}

#numbers {
    word-wrap:break-word;
    margin-top:30px;
}